html, body {
    height:100%;
    margin:0;
    padding:0;
    box-sizing:border-box;
    color: white;
    font-family: 'Rubik', sans-serif;
    
}
h5{
    color:white;
}

nav.navbar-default {
    background-color: #2e4052;
    border:none;
    border-radius:none;
    
}
.navbar-default li a{
    color: white!important;
}

.navbar-brand {
    font-family: 'Bungee', cursive;
    color:white!important;
}
.wrapper{
    /*height:700px;*/
    min-height:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

div.jumbotron{
    margin-left:25px;
    background-color:#ffc857;
}

select#searchParam{
    margin:10px auto;
    width:300px;
}

h1{
    font-size: 60px;
    font-family: 'Bungee', cursive;
    color:#ffc857;
}


/*thumbnails*/
#output .col-md-3 .well{
    height:340px;
    background-color: #2e4052;
}

#output .col-md-3 img{
    height:240px;
}

.wrapper > footer{
    background-color: #2e4052;
    height:130px;
    /*position:relative;*/
    width:100%;
}

.tmdb-logo{
    margin: 15px 15px;
}

footer>p{
    margin: 15px 0 0 15px;
    float:left;


}

footer>img{
    width:230px;
    height:auto;
}